@model ElectricityDefect.WebUI.Models.LimitsSetiViewModel
<script>
        function onDropDownSHChange(e) {
            var n_sh = this.value();
            if (n_sh) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetSHLimits", "LimitsService") ",
                    datatype: 'json',
                    data: { n_sh: n_sh },
                    success: function (data) {

                        Object.keys(data).forEach(key => {
                            if (key.indexOf('u') == 0) {
                                var element = $("#" + key).data("kendoNumericTextBox");
                                
                                element.value(data[key]);
                                element.trigger("change");
                            }
                            
                        });
                        
                        

                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                        showError(xhr.status + " " + thrownError);
                    }
                });
            }
        }
</script>
<script id="timesTemplate" type="text/x-kendo-template">
    <span>#: kendo.toString(kendo.parseDate(Start),"HH:mm") # - #: kendo.toString(kendo.parseDate(End),"HH:mm") #</span>
</script>
<div style="margin: 0 15px">

    <div class="k-form-field">
        <label class="k-label k-form-label" for="eventid">Объект:</label>
        <span class="k-form-field-wrap">
            @(Html.Kendo().DropDownListFor(m => m.n_ob)
                .HtmlAttributes(new { style = "width:100%;" })
                .DataTextField("name")
                .DataValueField("id")
                .Filter("contains")
                .DataSource(source => source.Read(read => read.Action("DropDownListReadObjekts", "ParametersSetiService")))
                //.Events(ev => ev.Select("onDropDownListEventsNamesChange"))
            )
        </span>
    </div>
    <div class="k-form-field">
        <label class="k-label k-form-label" for="eventid">Фидер:</label>
        <span class="k-form-field-wrap">
            @(Html.Kendo().DropDownListFor(m => m.n_sh)
                .HtmlAttributes(new { style = "width:100%;" })
                .DataTextField("name")
                .DataValueField("id")
                .AutoBind(false)
                .Enable(false)
                .DataSource(source => source.Read(read => read.Action("DropDownListReadSHs", "ParametersSetiService").Data("filterObjekt")).ServerFiltering(true))
                .CascadeFrom("n_ob")
                .Events(ev => ev.Change("onDropDownSHChange"))
            )
        </span>
    </div>


    <div class="k-form-field">
        <div class="k-form-field-wrap" style="margin-bottom: 6px;">
            <div style="display: inline-block;   width: 100%;">
                <div style="display: inline-block; width: 20%;">Ua(B):</div>

                <div style="display: inline-block; width: 38%;">
                    <label for="uamin" style="margin-right: 50px;">min</label>
                    @(Html.Kendo().NumericTextBoxFor(m => m.uamin).HtmlAttributes(new { style = "width:100%;" }))
                </div>
                <div style="display: inline-block; float:right;  width: 38%;">
                    <label class="k-label k-form-label" for="uamax" style="margin-right: 45px;">max</label>
                    @(Html.Kendo().NumericTextBoxFor(m => m.uamax).HtmlAttributes(new { style = "width:100%;" }))
                </div>
            </div>
        </div>
        <span class="k-invalid-msg" data-for="uamin"></span>
        <span class="k-invalid-msg" data-for="uamax"></span>
    </div>
    <div class="k-form-field">
        <div class="k-form-field-wrap" style="margin-bottom: 6px;">
            <div style="display: inline-block;   width: 100%;">
                <div style="display: inline-block; width: 20%;">Ub(B):</div>

                <div style="display: inline-block; width: 38%;">
                    @(Html.Kendo().NumericTextBoxFor(m => m.ubmin).HtmlAttributes(new { style = "width:100%;" }))
                </div>
                <div style="display: inline-block; float:right;  width: 38%;">
                    @(Html.Kendo().NumericTextBoxFor(m => m.ubmax).HtmlAttributes(new { style = "width:100%;" }))
                </div>
            </div>
        </div>
        <span class="k-invalid-msg" data-for="ubmin"></span>
        <span class="k-invalid-msg" data-for="ubmax"></span>
    </div>
    <div class="k-form-field">
        <div class="k-form-field-wrap" style="margin-bottom: 6px;">
            <div style="display: inline-block;   width: 100%;">
                <div style="display: inline-block; width: 20%;">Uc(B):</div>

                <div style="display: inline-block; width: 38%;">
                    @(Html.Kendo().NumericTextBoxFor(m => m.ucmin).HtmlAttributes(new { style = "width:100%;" }))
                </div>
                <div style="display: inline-block; float:right;  width: 38%;">
                    @(Html.Kendo().NumericTextBoxFor(m => m.ucmax).HtmlAttributes(new { style = "width:100%;" }))
                </div>
            </div>
        </div>
        <span class="k-invalid-msg" data-for="ucmin"></span>
        <span class="k-invalid-msg" data-for="ucmax"></span>
    </div>


</div>
