@model ElectricityDefect.WebUI.Models.MailSettingsViewModel
<script>

    
    @*function autoMailSettings() {
        var validator = $("#smtp-settings").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CheckAndAlert", "ParametersSetiService") ",
                datatype: 'json',
                //data: $('#smtp-settings').serialize(),
                success: function (data) {
                    console.log(data);
                    if (data.message == "ОК") {
                        
                        showSuccess("Проверка успешно проведена!")

                    }
                    else {

                        showError(data.message);

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    showError(thrownError + "-" + xhr.status);
                }
            });

        }
    }*@

    function testMailSettings() {
        var validator = $("#smtp-settings").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("TestSettings", "MailSettingsService") ",
                datatype: 'json',
                data: $('#smtp-settings').serialize(),
                success: function (data) {

                    if (data.message == "OK") {

                        showSuccess("Письмо успешно отправлено!")

                    }
                    else {

                        showError(data.errors);

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    showError(thrownError + "-" + xhr.status);
                }
            });

        }
    }


    function saveMailSettings() {
        var validator = $("#smtp-settings").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveSettings", "MailSettingsService") ",
                datatype: 'json',
                data: $('#smtp-settings').serialize(),
                success: function (data) {

                    if (data.message == "OK") {

                        showSuccess("Настройки были успешно сохранены!")

                    }
                    else {

                        showError(data.errors);

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    showError(thrownError + "-" + xhr.status);
                }
            });

        }

    }
</script>

                <div class="k-form-container" style="margin-left:auto;margin-right:auto;max-width:600px;height:83vh;">
                    <form id="smtp-settings">
                        <fieldset class="k-form-fieldset k-widget">
                            <legend class="k-form-legend" style="padding-left:15px;">Настройки почтовой рассылки</legend>
                            <div style="margin: 0 15px">
                                <div class="k-form-field">
                                    <label class="k-label k-form-label" for="host">SMTP-сервер:</label>
                                    <div class="k-form-field-wrap">
                                        @Html.Kendo().TextBoxFor(m => m.host).HtmlAttributes(new { style = "width:100%;" })
                                    </div>
                                </div>
                                <div class="k-form-field">
                                    <label class="k-label k-form-label" for="port">Порт:</label>
                                    <div class="k-form-field-wrap">
                                        @Html.Kendo().IntegerTextBoxFor(m => m.port).Format("0").HtmlAttributes(new { style = "width:100%;" })
                                    </div>
                                </div>
                                <div class="k-form-field">
                                    <label class="k-label k-form-label" for="user">Пользователь:</label>
                                    <div class="k-form-field-wrap">
                                        @Html.Kendo().TextBoxFor(m => m.user).HtmlAttributes(new { style = "width:100%;", type = "email" })
                                    </div>
                                </div>
                                <div class="k-form-field">
                                    <label class="k-label k-form-label" for="password">Пароль:</label>
                                    <div class="k-form-field-wrap">
                                        @Html.Kendo().TextBoxFor(m => m.password).HtmlAttributes(new { type = "password", style = "width:100%;" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            @*@Html.Kendo().Button().Name("AutoMail").Tag("div").HtmlAttributes(new { type = "button", style = "margin-right: 15px;" }).Icon("anchor").Content("Auto").Events(click => click.Click("autoMailSettings"))*@
                            @Html.Kendo().Button().Name("TestMail").Tag("div").HtmlAttributes(new { type = "button", style = "margin-right: 15px;" }).Icon("envelop").Content("Тест").Events(click => click.Click("testMailSettings"))
                            @Html.Kendo().Button().Name("SaveMailSettings").Tag("div").HtmlAttributes(new { type = "button", @class = "k-primary" }).Icon("check").Content("Сохранить").Events(click => click.Click("saveMailSettings"))
                        </div>
</form>
                </div>

